   {{!-- <div class='menu'>
      <ul class="menu__item">
        {{#each this}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </div> --}}


   <div class='menu'>
       <h1>{{title}}<h1>
      <ul class="menu__item">
        {{#each items}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
